.nav {
  grid-area: n;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: tomato;
}
.item a {
  padding: 2px;
  padding-left: 15px;
  color: #fff;
  text-decoration: none;
}
a.active {
  color: #000;
}
